body{
    background-color: #EDE0D4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    text-align: center;
    right: 30px;
	position: fixed;
}

article{
    height: 400px;
    width: 400px;
    background-color: #DDB892;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    top: 50px;
    right: 35%;
    margin: auto;
}


.contacto {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
	border-radius:18px;
	border:1px solid #ddb792;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
    text-decoration: none;
}
.contacto:hover {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
    zoom: 110%;
}
.contacto:active {
	position:relative;
	top:1px;
}
.inicio {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
	border-radius:18px;
	border:1px solid #ddb792;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}
.inicio:hover {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
    zoom: 110%;
}
.inicio:active {
	position:relative;
	top:1px;
}
.proyectos {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
	border-radius:18px;
	border:1px solid #ddb792;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}
.proyectos:hover {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
    zoom: 110%;
}
.proyectos:active {
	position:relative;
	top:1px;
}
.info {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
	border-radius:18px;
	border:1px solid #ddb792;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}
.info:hover {
	background:linear-gradient(to bottom, #ddb792 5%, #ddb792 100%);
	background-color:#ddb792;
    zoom: 110%;
}
.info:active {
	position:relative;
	top:1px;
}
aside{
}
footer{
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
    background-color: #DDB892;
	text-align: center;
	
}
